.root {
  border: 2px solid #d4d4d4;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #3a85ce;
  font-size: 81px;
  display: flex;
  height: 150px;
  width: 150px;
}

.circle {
  color: #39b8d2;
}

.root:nth-child(-n + 3) {
  border-top: none;
}

.root:nth-child(3n) {
  border-right: none;
}

.root:nth-child(n + 7) {
  border-bottom: none;
}
/* wtf is going on here */
.root:nth-child(1) {
  border-left: none;
}

.root:nth-child(4) {
  border-left: none;
}

.root:nth-child(7) {
  border-left: none;
}
